.footer {
    font-family: 'Rubik Mono One', sans-serif;
    padding: 2rem 0rem;
    background-color: map-get($colores, "bgColorFooter");

    &__redes{
        margin-bottom: 3rem;
    }

    &__redes img {
        margin: 0rem 0.5rem;
    }

    &__redes img:hover {
        animation-name: animacionRedes;
        animation-duration: 3s;
        transform: scale(1.03);
    }

    a:hover {
         color: map-get($colores, "bgColorHeader");
    }
    @keyframes animacionRedes {
        from {
            transform: translateY(-3px);
        }
        to {
            transform: translateY(0px);
        }
    }



    @media(max-width:1200px) {
        .footer__redes img {
            height: 30px;
            margin: 0rem;
        }
    }
}