.header {
    background-color: map-get($colores, "bgColorHeader");
}

.navbar{
    padding: 0px;
    
    &-nav {
        font-family: 'Rubik Mono One', sans-serif;
        
    }
    .header__logo img {
        @include logo;
    }
    
    &-brand {
        animation-name: animacionLogo;
        animation-duration: 3s;
    }
    .header__logo:hover {
        transform: scale(1.03);
    }
    
    .nav-item a:hover {
        color: #efb1a9;
        transform: scale(1.03);
    }
    
    @keyframes animacionLogo {
        from {
            transform: translateX(-15px);
        }
        to{
            transform: translateX(0px);
        }
    }
    
    @media(max-width:1200px) {
        .header__logo img {
            height:60px;
            @include logo;
        }
        .menu__res {
            background-color: #efb1a9;
        }
        .nav-item a {
            border-bottom: $borderColor;
        }
        .nav-item a:hover {
            color: #1d1912;
            transform: scale(1.03);
        }
    }
}


