.main {
    min-height: calc(100vh - 300px);
    font-family: 'Rubik Mono One', sans-serif;
    background-color: $bgColorMain;

    &__titulos {
        padding: 15px;
        border: $borderColor;
        border-radius: 3px;
        background-color: #5a6e60;
        color: #1d1912;
        margin: 1rem 0rem;
    }
    &__parrafo {
        color: #1d1912;
        background-color: #5a6e60;
        margin-bottom: 1rem;
        padding: 15px 10px;
        border: $borderColor;
        border-radius: 10px;
        font-size: 12px;
        line-height: 15px;
    }

}

.carousel{
    &-inner {
        padding: 0px;
        border: $borderColor;
        border-radius: 10px;
        margin-bottom: 1rem;
    }
}