.main {
    min-height: calc(100vh - 300px);
    font-family: 'Rubik Mono One', sans-serif;
    background-color: map-get($colores,"bgColorMain");

    &__titulos {
        padding: 15px;
        border: map-get($bordesEstilos, "border");
        border-radius: 3px;
        background-color: map-get($colores, "bgColorTexto");
        color: #1d1912;
        margin: 1rem 0rem;
    }
    &__parrafo {
        background-color: map-get($colores,"bgColorTexto");
        border: map-get($bordesEstilos, "border");
        border-radius: 10px;
        color: #1d1912;
        margin-bottom: 1rem;
        padding: 15px 10px;
        font-size: 12px;
        line-height: 15px;
    }
    
}

.inner-button {
    margin-bottom: 1rem;
}

.carousel{
    &-inner {
        padding: 0px;
        border: map-get($bordesEstilos,"border");
        border-radius: 10px;
        margin-bottom: 1rem;
    }
}