$borderColor: solid 3px #1d1912;
$colores:(
    bgColorHeader:#2d3937,
    bgColorMain:#99a88c,
    heroTitulo:#a95100,
    bgColorFooter: #efb1a9,
    bgColorTexto: #5a6e60,
    colorFont: #1d1912,
);

$bordesEstilos:(
    border: solid 3px #1d1912,
);