* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a {
    color: #1d1912;
    text-decoration: none;
}
/* .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 1fr 150px;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer";
} */


/* header */
.navbar{
    padding: 0px;
}

.logo img{
    background-color: #99a88c;
    border: solid 3px #1d1912;
    border-radius: 90rem;
}

.navbar-nav{
    font-family: 'Rubik Mono One', sans-serif;
}


.header{
    background-color: #2d3937;
}


.navbar-brand{
    animation-name: animacionLogo;
    animation-duration: 3s;
}

.nav-items{
        list-style: none;
        border: solid 3px #1d1912;
        background-color: #5a6e60;
        border-radius: 3px;
        margin-left: 10px;
}


.header__logo {
    display: flex;
    animation-name: animacionLogo;
    animation-duration: 3s;
}

.header__logo img {
    height: 100px;
    background-color: #99a88c;
    border: solid 3px #1d1912;
    border-radius: 90rem;
}


.header__nav {
    display: flex;
    justify-content: end;
    list-style: none;
}

.header__list {
    display: flex;
    justify-content: end;
    list-style: none;

}

.header__item{
    display: flex;
    list-style: none;
    border: solid 3px #1d1912;
    background-color: #5a6e60;
    border-radius: 3px;
    padding: 15px;
}
/* header */


/* main */

.main__titulo {
    padding: 15px;
    border: solid 3px #1d1912;
    border-radius: 3px;
    background-color: #5a6e60;
    color: #1d1912;
    margin-bottom: 1rem;
}



.card{
    background-color: #2d3937;
    border: solid 3px #1d1912;
    border-radius: 15px;
    color: #0c0a08;
    margin-bottom: 1rem;
}

.card-body button{
    border: solid 3px #1d1912;
    border-radius: 10px;
    color: #1d1912;
    background: #efb1a9;
}

.main__subtitulo {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 15px;
    border: solid 3px #1d1912;
    border-radius: 10px;
    background-color: #5a6e60;
    color: #1d1912;
}

/* .main__parrafo {
    color: #1d1912;
    background-color: #5a6e60;
    margin-bottom: 1rem;
    padding: 15px 10px;
    border: solid 3px #1d1912;
    border-radius: 10px;
    font-size: 12px;
    line-height: 15px;
} */


.main{
    min-height: calc(100vh - 300px);
    font-family: 'Rubik Mono One', sans-serif;
    background-color: #99a88c;
}

.main__video iframe {
    border-radius: 10px;
    margin: 0px;
}



.inner{
    background-color: #2d3937;
    border: solid 3px #1d1912;
    padding: 0px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.inner iframe{
    width: 100%;
}

.main__titulos {
    padding: 15px;
    border: solid 3px #1d1912;
    border-radius: 3px;
    background-color: #5a6e60;
    color: #1d1912;
    margin: 1rem 0rem;
}

.inner .main__subtitulos{
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    background-color: #5a6e60;
    color: #1d1912;
}

.main__parrafo {
    color: #1d1912;
    background-color: #5a6e60;
    margin-bottom: 1rem;
    padding: 15px 10px;
    border: solid 3px #1d1912;
    border-radius: 10px;
    font-size: 12px;
    line-height: 15px;
}



.carousel-inner{
    padding: 0px;
    border: solid 3px #1d1912;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.inner-buton{
    margin-bottom: 1rem;
}





.main__formulario {
    text-align: center;
}

.main__contenido form {
    display: inline-block;
    background-color: #2d3937;
    border: solid 3px #1d1912;
    border-radius: 10px;
    padding: 20px;

    font-size: 2rem;
    line-height: 50px;
    text-align: start;
}




.main__item input {
    font-size: 2rem;
    background-color: #5a6e60;
    padding: 0px 10px;
    border: solid 3px #1d1912;
    border-radius: 10px;
}

.main__item textarea {
    background-color: #5a6e60;
    border: solid 3px #1d1912;
    border-radius: 10px;

    padding: 15px;
    font-size: 20px;

    width: 100%;
}

.main__item button {
    background-color: #5a6e60;
    border: solid 3px #1d1912;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 30px;
    color: #1d1912;
}

/* main */


/* footer */

.footer__redes img:hover {
    animation-name: animacionRedes;
    animation-duration: 3s;
    transform: scale(1.03);
}

.footer{
    font-family: 'Rubik Mono One', sans-serif;
    padding: 2rem 0rem;
    background-color: #efb1a9;
}

.footer__redes{
    margin-bottom: 2rem;
}

.footer__redes img{
    margin: 0rem 0.5rem;
}
/* footer */


.logo:hover {
    transform: scale(1.03);
}

.header__item:hover {
    background: #efb1a9;
    transform: scale(1.03);
}

.nav-item a:hover {
    color: #efb1a9;
    transform: scale(1.03);
}



/* header */
@keyframes animacionLogo {

    from {
        transform: translateX(-15px);
    }

    to {
        transform: translateX(0px);
    }
}

@media(max-width:1200px){
    *{
        font-size: 1rem !important;
    }
    .menu__res{
        background-color: #efb1a9;
    }

    .nav-item a{
        border-bottom: solid 3px #1d1912;
    }
    
    .nav-item a:hover {
        color:#1d1912;
        transform: scale(1.03);
    }
}
/* header */

/* footer */

@keyframes animacionRedes {

    from {
        transform: translateY(-3px);
    }

    to {
        transform: translateY(0px);
    }
}
/* footer */